@import "tailwindcss";
@theme {
  --color-primary: #20df60;
  --color-background-light: #f6f8f6;
  --color-background-dark: #112116;
  --font-display: "Manrope", sans-serif;  
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@variant dark (&:where(.dark, .dark *));

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
